
.number-button,
.operation-button,
.clear-button,
.equals-button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 18px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
}

.number-button:hover,
.operation-button:hover,
.clear-button:hover,
.equals-button:hover {
    background-color: #0056b3;
}

.container {
    .calculator-container {

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 50px; 

        .input-field {
            width: 175px;
            padding: 8px;
            font-size: 20px;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            margin-right: 5px;
        }

        .clear-button {
            background-color: #dc3545;
        }

        .clear-button:hover {
            background-color: #c82333;
        }
    }

    .buttons-container {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .buttons-grid {

            display: flex;
            flex-direction: row;

            .number-buttons {
                display: flex;
                flex-direction: row;

                .number-button {
                    width: 50px;
                }
            }
        }

        .equals-button {
            width: 220px;
            background-color: #28a745;
        }

        .equals-button:hover {
            background-color: #218838;
        }
    }
}