/* You can add global styles to this file, and also import other style files */
* {
    background-color: rgb(0, 0, 0);
}

a, div, p {
    background-color: rgb(0, 0, 0, 0);
}

a {
    text-decoration: none;
}

